.button-form {
  font-size: 20px;
  padding: 10px;
  display: block;
  color: #EECC53;
  background: #3D3D3D;
  box-sizing: border-box;
  border-radius: 10px;
}

.button-form:hover {
  color: #3D3D3D;
  background: #EECC53;
}
